header {
    border-bottom: 1px solid #444;
}
header h1, nav h2, .date {
    display: inline;
}
header p, .date {
    margin-left: 1em;
}
.date {
    font-size: 0.8em;
}
h1 a, h1 a:visited {
    text-decoration: none;
    color: #444;
}

#content {
    max-width: 800px;
    margin: 2em auto;
}
nav .more {
    text-align: right;
}
article h1 {
    font-size: 1.5em;
}
article h2 {
    font-size: 1.3em;
}
article h3 {
    font-size: 1.1em;
}

pre {
    background: #202020;
    color: #fafafa;
    padding: 1em;
}

footer {
    border-top: 1px solid #444;
}
